<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>BookTask1</display-name>
	<servlet>
		<servlet-name>Addservlet</servlet-name>
		<display-name>Addservlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.Addservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deleteservlet</servlet-name>
		<display-name>Deleteservlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.Deleteservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Loginservlet</servlet-name>
		<display-name>insertLoginservlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.Loginservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Registerservlet</servlet-name>
		<display-name>Registerservlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.Registerservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Signinservlet</servlet-name>
		<display-name>Signinservlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.Signinservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Updateservlet</servlet-name>
		<display-name>Updateservlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.Updateservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Viewservlet</servlet-name>
		<display-name>Viewservlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.Viewservlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadExcelServlet</servlet-name>
		<display-name>DownloadExcelServlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.DownloadExcelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadPDFServlet</servlet-name>
		<display-name>DownloadPDFServlet</display-name>
		<description></description>
		<servlet-class>com.inv.servlet.DownloadPDFServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Addservlet</servlet-name>
		<url-pattern>/Insert</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deleteservlet</servlet-name>
		<url-pattern>/Deleteservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loginservlet</servlet-name>
		<url-pattern>/Loginservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Registerservlet</servlet-name>
		<url-pattern>/Registerservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Signinservlet</servlet-name>
		<url-pattern>/Signinservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Updateservlet</servlet-name>
		<url-pattern>/Updateservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Viewservlet</servlet-name>
		<url-pattern>/Viewservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadExcelServlet</servlet-name>
		<url-pattern>/DownloadExcelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadPDFServlet</servlet-name>
		<url-pattern>/DownloadPDFServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Login.html</welcome-file>
	</welcome-file-list>
</web-app>
